<!-- carregando os arquivos estáticos -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- carregando o css que fica nos arquivos estáticos de base_statics -->
    <link rel='stylesheet' href='{% static "global/css/style.css" %}'>
</head>
<body>
    {% comment %} colocando um main que encapsula conteúdo {% endcomment %}
    <main class='content'>
        {% block content %}{% endblock  %}
    </main>
</body>
</html>