<!-- Separando meu header em partials para reutilizar se for o caso com include/extends -->

<header class="header">
    <h1 class="header-heading">
        <!-- url que peago o app contact e a view de nome index e redireciona -->
        <a href="{% url 'contact:index' %}" class="header-link">
            Agenda
        </a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">
            {% comment %} condicional para separar user logado do deslogado {% endcomment %}
            {% comment %} menu do user logado {% endcomment %}
            {% if user.is_authenticated %}
                <li class="menu-item">
                    <!-- Atribuindo link para criação de contato -->
                    <a href="{% url 'contact:create' %}" class="menu-link">
                        Create
                    </a>
                </li>
                <li class="menu-item">
                    <!-- Atribuindo link para criação de contato -->
                    <a href="{% url 'contact:user_update' %}" class="menu-link">
                        Profile
                    </a>
                </li>
                <li class="menu-item">
                    <!-- Atribuindo link para criação de contato -->
                    <a href="{% url 'contact:logout' %}" class="menu-link">
                        Logout
                    </a>
                </li>
            {% comment %} menu caso o user estaja deslogado {% endcomment %}
            {% else %}
                <li class="menu-item">
                    <!-- Atribuindo link para criação de contato -->
                    <a href="{% url 'contact:login' %}" class="menu-link">
                        Login
                    </a>
                </li>
                <li class="menu-item">
                    <!-- Atribuindo link para criação de contato -->
                    <a href="{% url 'contact:register' %}" class="menu-link">
                        Register
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="search">
        <!-- form que puxa a url search com método get para resgatar valores -->
        <form action="{% url 'contact:search' %}" method="GET">
            <input 
                type="text" 
                class="search-input" 
                placeholder="Search"
                id="search"
                name="q"
                value="{{ request.GET.q.strip }}"
            >
            <!-- colocando o valor do form pela própria requisição com o método GET.q=nome do input + um strip para tirar espaços das laterais  -->
        </form>
    </div>
</header>