<!-- pegando a base do site para apenas adicionar o conteúdo -->
{% extends "global/base.html" %}

<!-- bloco de conteudo da url contact -->
{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            <!-- Exibindo dados que vem de "contact" que é a resposta do render-->
            {{ contact.first_name }} {{ contact.last_name }}
        </h1>

        <!-- Exibindo os dados individuais desse contato -->
        <p><b>ID:</b> {{ contact.id }} </p>
        <p><b>E-mail:</b> {{ contact.email }} </p>
        <p><b>Phone:</b> {{ contact.phone }} </p>
        <p><b>Created Date:</b> {{ contact.created_date }} </p>
        <p><b>Description:</b> {{ contact.description }} </p>
        <!-- selecionando qual campo exatamente trazer da forgeinKey -->
        <p><b>Category:</b> {{ contact.category.name }} </p>
        
        <div class="contact-links">
            <!-- Link que redireciona para atulizar contato, com o id do contato -->
            <a class="btn btn-link" href="{% url 'contact:update' contact.id %}">Update</a>

            <!-- formulário de deleção do contato, com o id do contato no método POST(sigilo) -->
            <form action="{% url 'contact:delete' contact.id %}" method="POST">
                <!-- deixando seguro a entrada de dados -->
                {% csrf_token %}

                {% if confirmation == 'no' %}
                    <!-- input troca o valor de confirmation para confirmação de 2 etapas -->
                    <input type="hidden" name="confirmation" value="yes">
                    <button class="btn btn-link btn-delete" type="submit">Confirma?</button>
                {% else %}
                    <!-- exibindo botão de delete natural, quando clicar confirmation == no -->
                    <button class="btn btn-link btn-delete" type="submit">Delete</button>
                {% endif %}
            </form>
        </div>

    </div>
{% endblock content %}