{% extends "global/base.html" %}
{% comment %} extendendo a base do site para a view create {% endcomment %}

{% block content %}
    <div class="form-wrapper">
        <h2>Contact</h2>
        <!-- form que chama a função view create/ou/post, enctype para enviar arquivos -->
        <form action="{{ form_action }}" method="POST" enctype="multipart/form-data">

            {% comment %} garantindo a integridade de input dos dados {% endcomment %}
            {% csrf_token %}

            <div class="form-content">
                {% comment %} pegando cada campo existente em form(passado por ContactForm() no context) {% endcomment %}
                {% for field in form %}
                    <div class="form-group">
                        {% comment %} settando id e nome_campo de forma dinâmica para cada campo {% endcomment %}
                        <label for="{{ field.id_for_label }}"> {{ field.label }} </label>
                        {% comment %} aqui fica o input vinculado com o label de cima {% endcomment %}
                        {{ field }}
                        <!-- Mostrando eventuais erros abaixo do input -->
                        {{ field.errors }}

                        {% if field.help_text %}
                        {% comment %} usando o help text da class ContactForm {% endcomment %}
                            <p class="help-text">{{ field.help_text }}</p>
                        {% endif %}

                    </div>
                {% endfor %}
             <!-- Se existir error em algum form -->
            {% if form.non_field_errors %}
                <div class="form-content">
                    <div class="form-group">
                        <div class="message error">
                            <!-- exibi ele dentro desse css -->
                        {{ form.non_field_errors }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="form-content">
                <div class="form-group">
                    {% comment %} envia os dados do form para o backend {% endcomment %}
                    <button class="btn" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}